In [1]:
import pandas as pd

df = pd.read_csv('Training_set_IMDB/training_set_sample_no_target.csv')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43063 entries, 0 to 43062
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    43063 non-null  object
 1   SQL     43063 non-null  object
dtypes: object(2)
memory usage: 673.0+ KB

In [3]:
df.shape

(43063, 2)

In [4]:
df["Text"].head(10)

0    what is the highest rank movie in year 2002
1    what is the highest rank movie in year 2000
2    what is the highest rank movie in year 1971
3    what is the highest rank movie in year 1913
4    what is the highest rank movie in year 1915
5    what is the highest rank movie in year 1923
6    what is the highest rank movie in year 1920
7    what is the highest rank movie in year 1921
8    what is the highest rank movie in year 2001
9    what is the highest rank movie in year 1939
Name: Text, dtype: object

In [7]:
from datasets import load_from_disk

In [8]:
dataset = load_from_disk('Training_set_IMDB/testing_dataset_sample/')

In [9]:
dataset

Dataset({
    features: ['inputs', 'target'],
    num_rows: 4307
})

In [16]:
dataset["target"][:10]

["SELECT a.first_name as first_name, a.last_name as last_name, r.role AS first_role FROM actors a INNER JOIN ( SELECT r.actor_id, MIN(m.year) AS min_movie_year FROM roles r INNER JOIN movies m ON r.movie_id = m.id GROUP BY r.actor_id ) t ON a.id = t.actor_id INNER JOIN roles r ON t.actor_id = r.actor_id INNER JOIN movies m ON r.movie_id = m.id AND t.min_movie_year = m.year WHERE a.first_name = 'Jack (VI)' AND a.last_name = 'Lewis'",
 "SELECT d.id AS director_id, d.first_name, d.last_name, COUNT(m.id) AS movie_count FROM directors d JOIN movies_directors md ON d.id = md.director_id JOIN movies m ON md.movie_id = m.id WHERE d.first_name = 'Julio CÃ©sar' AND d.last_name = 'Marmol' AND m.year = 1975 GROUP BY d.id, d.first_name, d.last_name",
 "SELECT r.role AS recent_role FROM actors a INNER JOIN roles r ON a.id = r.actor_id INNER JOIN movies m ON r.movie_id = m.id WHERE a.first_name = 'Natasha' AND a.last_name = 'Cashman' ORDER BY m.year DESC LIMIT 1",
 "SELECT d.id AS director_id, d.first_name, d.last_name FROM actors a JOIN roles r ON a.id = r.actor_id JOIN movies_directors md ON r.movie_id = md.movie_id JOIN directors d ON md.director_id = d.id WHERE a.first_name = 'Mitsuyo' AND a.last_name = 'Akashi' GROUP BY d.id, d.first_name, d.last_name ORDER BY COUNT(*) DESC LIMIT 1",
 "SELECT d.id AS director_id, d.first_name, d.last_name FROM actors a JOIN roles r ON a.id = r.actor_id JOIN movies_directors md ON r.movie_id = md.movie_id JOIN directors d ON md.director_id = d.id WHERE a.first_name = 'John (VII)' AND a.last_name = 'Maloney' GROUP BY d.id, d.first_name, d.last_name ORDER BY COUNT(*) DESC LIMIT 1",
 "SELECT genre FROM directors t1 JOIN directors_genres t2 ON t1.id = t2.director_id WHERE t1.first_name = 'Daniel' AND t1.last_name = 'Baer'",
 "SELECT DISTINCT movies_genres.genre FROM movies JOIN movies_genres ON movies.id = movies_genres.movie_id WHERE movies.name = 'Quest for Truth'",
 "SELECT DISTINCT movies_genres.genre FROM movies JOIN movies_genres ON movies.id = movies_genres.movie_id WHERE movies.name = 'Danish Teenagers Volume 2'",
 "SELECT AVG(m.rank) AS average_rank FROM directors d JOIN movies_directors md ON d.id = md.director_id JOIN movies m ON md.movie_id = m.id WHERE d.first_name = 'Sarah' AND d.last_name = 'Raxlen'",
 "SELECT d.id AS director_id, d.first_name, d.last_name FROM actors a JOIN roles r ON a.id = r.actor_id JOIN movies_directors md ON r.movie_id = md.movie_id JOIN directors d ON md.director_id = d.id WHERE a.first_name = 'Helena' AND a.last_name = 'Flor' GROUP BY d.id, d.first_name, d.last_name ORDER BY COUNT(*) DESC LIMIT 1"]