In [1]:
from transformers import AutoTokenizer, T5ForConditionalGeneration

In [2]:
model_name = "/home/toibazd/Data/Text2SQL/content/t5-small-finetuned-wikisql"

In [3]:
tokenizer = AutoTokenizer.from_pretrained(model_name)
model = T5ForConditionalGeneration.from_pretrained(model_name)

In [4]:
from datasets import load_dataset

In [5]:
dataset = load_dataset("wikisql", split="test")

Found cached dataset wikisql (/home/toibazd/.cache/huggingface/datasets/wikisql/default/0.1.0/7037bfe6a42b1ca2b6ac3ccacba5253b1825d31379e9cc626fc79a620977252d)

In [6]:
dataset

Dataset({
    features: ['phase', 'question', 'table', 'sql'],
    num_rows: 15878
})

In [10]:
def translate_to_SQL(example):
    inputs = tokenizer(example, padding="max_length", truncation=True, max_length=64, return_tensors="pt")
    outputs = model.generate(**inputs, max_length = 64)
    return tokenizer.decode(outputs[0], skip_special_tokens=True)

In [13]:
for i in range(0, 500, 25):
    print("translate to SQL: ", dataset[i]["question"])
    print("Expected: ", dataset[i]["sql"]["human_readable"])
    print("Predicted: ", translate_to_SQL("translate to SQL" + dataset[i]["question"]))
    print("==========\n")

translate to SQL:  What is terrence ross' nationality
Expected:  SELECT Nationality FROM table WHERE Player = Terrence Ross
Predicted:  SELECT Nationality FROM table WHERE Player = Terrence Ross
==========

translate to SQL:  What rank was Bryan Danielson in this chart?
Expected:  SELECT Rank Each wrestlers total number of days as champion are ranked highest to lowest; wrestlers with the same number mean that they are tied for that certain rank. FROM table WHERE Wrestler = Bryan Danielson
Predicted:  SELECT Rank FROM table WHERE Player = brian danielson
==========

translate to SQL:  If a radius is 10, what  is the lowest possible mass?
Expected:  SELECT MIN Mass (M ☉ ) FROM table WHERE Radius (R ☉ ) = 10
Predicted:  SELECT MIN Mass FROM table WHERE Radius = 10
==========

translate to SQL:  Which city has a capacity of 41903?
Expected:  SELECT City FROM table WHERE Capacity = 41903
Predicted:  SELECT City FROM table WHERE Capacity = 41903
==========

translate to SQL:  What college did Calvin McCarty play at?
Expected:  SELECT College FROM table WHERE Player = Calvin McCarty
Predicted:  SELECT College FROM table WHERE Player = calvin mccarty
==========

translate to SQL:  Who directed the second episode of "The Homecoming" which was written by Tommy Thompson?
Expected:  SELECT Directed by FROM table WHERE Written by = Tommy Thompson
Predicted:  SELECT Directed by FROM table WHERE Written by = Tommy Thompson AND Title = "The Homecoming"
==========

translate to SQL:  The stenhousemuir team had how many highest attendances?
Expected:  SELECT COUNT Highest FROM table WHERE Team = Stenhousemuir
Predicted:  SELECT MAX Attendance FROM table WHERE Team = Sterhousemuir
==========

translate to SQL:  What is the premiere on the mega channel?
Expected:  SELECT Premiere FROM table WHERE Channel = Mega Channel
Predicted:  SELECT Premiere FROM table WHERE Channel = mega
==========

translate to SQL:  Who was the winning driver when the grand Prix was at Belgian Grand Prix?
Expected:  SELECT Winning Driver FROM table WHERE Grand Prix = Belgian Grand Prix
Predicted:  SELECT Winning driver FROM table WHERE Grand Prix = Belgian Grand Prix
==========

translate to SQL:  what is the total number of opponent where date is november 23, 1980
Expected:  SELECT COUNT Opponent FROM table WHERE Date = November 23, 1980
Predicted:  SELECT COUNT Opponent FROM table WHERE Date = November 23, 1980
==========

translate to SQL:  Is the drawing tablet support part of the DDM class?
Expected:  SELECT DDM Class FROM table WHERE Comparisons = Drawing Tablet Support
Predicted:  SELECT Drawing Tablet support FROM table WHERE Class = ddm
==========

translate to SQL:  What is the most series number with season 3?
Expected:  SELECT MAX Series # FROM table WHERE Season # = 3
Predicted:  SELECT MAX Series # FROM table WHERE Season # = 3
==========

translate to SQL:  What position did the player from Jersey City, New Jersey play?
Expected:  SELECT Position FROM table WHERE Hometown = Jersey City, New Jersey
Predicted:  SELECT Position FROM table WHERE College/junior/club team = jersey city, new jersey
==========

translate to SQL:  Who scored a 9.72 in the swimsuit?
Expected:  SELECT Interview FROM table WHERE Swimsuit = 9.72
Predicted:  SELECT Swimsuit FROM table WHERE Swimsuit = 9.72
==========

translate to SQL:  how many times is the co-singer suresh wadkar and the film name is tera dukh mera dukh?
Expected:  SELECT COUNT Lyricist FROM table WHERE Co-singer = Suresh Wadkar AND Film name = Tera Dukh Mera Dukh
Predicted:  SELECT COUNT COUNT Co-Singer FROM table WHERE Film Name = Tera Dukh Mera Dukh
==========

translate to SQL:  What numbr on the list had a peak rating of 42?
Expected:  SELECT MIN Rank FROM table WHERE Peak = 42
Predicted:  SELECT Numbr FROM table WHERE Peak rating = 42
==========

translate to SQL:  What is the weight(lbs) when born is april 6, 1954 detroit, mi?
Expected:  SELECT Weight(lbs) FROM table WHERE Born = April 6, 1954 Detroit, MI
Predicted:  SELECT Weight (lbs) FROM table WHERE Born = April 6, 1954 Detroit, MI
==========

translate to SQL:  What is the score for interview when the preliminaries score is 8.425?
Expected:  SELECT Interview FROM table WHERE Preliminaries = 8.425
Predicted:  SELECT Interview FROM table WHERE Preliminaries = 8.425
==========

translate to SQL:   what's the cover date where character(s) is x-men ; magneto
Expected:  SELECT Cover Date FROM table WHERE Character(s) = X-Men ; Magneto
Predicted:  SELECT Cover date FROM table WHERE Character(s) = x-men ; magneto
==========

translate to SQL:  What is the intergiro classification of stage 21?
Expected:  SELECT Intergiro classification FROM table WHERE Stage = 21
Predicted:  SELECT Intergiro classification FROM table WHERE Stage = 21
==========